# Name - Vishwajeet Singh

## Decode 11.3 | Hackthon

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Reading data from CSV
df=pd.read_csv('Dataset.csv')

In [5]:
df.head()

,Ticket Id,Student or WP,Program Name,Status (Ticket),Created Time (Ticket),Ticket Closed Time,First Response Time,Project Phase
0,6403.0,Working Professionals,Fullstack Program,Closed,14-05-2021 01:09,14-05-2021 19:04,14-05-2021 08:51,trial phase
1,6415.0,Working Professionals,Backend Program,Duplicate,14-05-2021 10:12,14-05-2021 11:23,NaN,trial phase
2,6420.0,Working Professionals,Fullstack Program,Closed,14-05-2021 11:46,16-05-2021 00:09,14-05-2021 18:14,trial phase
3,6402.0,Student,Fullstack Program,Closed,14-05-2021 01:08,14-05-2021 19:04,14-05-2021 14:45,fullstack-phase-1
4,6423.0,Working Professionals,Fellowship Program,Closed,14-05-2021 12:17,14-05-2021 20:39,14-05-2021 12:21,trial phase

In [6]:
df.shape

(481, 8)

In [7]:
df.columns

Index(['Ticket Id', 'Student or WP', 'Program Name', 'Status (Ticket)',
       'Created Time (Ticket)', 'Ticket Closed Time', 'First Response Time',
       'Project Phase'],
      dtype='object')

In [8]:
df.isna().sum()

Ticket Id                  5
Student or WP              5
Program Name               5
Status (Ticket)            5
Created Time (Ticket)      5
Ticket Closed Time         5
First Response Time      115
Project Phase              5
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ticket Id              476 non-null    float64
 1   Student or WP          476 non-null    object
 2   Program Name           476 non-null    object
 3   Status (Ticket)        476 non-null    object
 4   Created Time (Ticket)  476 non-null    object
 5   Ticket Closed Time     476 non-null    object
 6   First Response Time    366 non-null    object
 7   Project Phase          476 non-null    object
dtypes: float64(1), object(7)
memory usage: 30.2+ KB

In [14]:
df.describe()

         Ticket Id
count   476.000000
mean   6803.109244
std     211.582460
min    6400.000000
25%    6644.750000
50%    6832.500000
75%    6972.250000
max    7177.000000